<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Simple To Do</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid d-flex justify-content-between">
            <a class="navbar-brand" href="#">To Do App</a>
            <div class="d-flex">
                <a class="navbar-brand" href="https://www.linkedin.com/in/danial-sanjabi/">Made By Danny</a>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        <form action="/todo/" method="POST" class="d-flex">
            <input type="text" name="name" class="form-control mr-2" placeholder="Enter Your Task">
            <button type="submit" class="btn btn-primary">Submit</button>
            
        </form>

        <ul class="list-group mt-4">
            <% tasks.forEach(task => { %>
                <li class="list-group-item mb-2 d-flex justify-content-between align-items-center">
                    <span class="task-name"><%= task.name %></span>
                    <div>
                        <a href="/todo/<%= task._id %>" class="btn btn-danger btn-sm mr-2 align-self-end">Delete</a>
                    </div>
                </li>
            <% }); %>
        </ul>
        
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
